<!DOCTYPE html>
<html lang={{ metadata.lang }}>
  <head>
    <link href="/assets/styles/index.css" rel="stylesheet"/>

    <meta charset="utf-8" />
    <title>{{title | default: metadata.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="keywords" content="{{ metadata.keywords }}" />

    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body class="bg-beige">
    <nav class="limit-width sm:hidden">
      <ul class="flex justify-end font-bold text-20 space-x-88 mt-64">
        <li><a href="#como_funciona">Como funciona?</a></li>
        <li><a href="#seja_parceiro">Seja parceiro</a></li>
        <li><a href="#como_surgiu">Como surgiu?</a></li>
      </ul>
    </nav>

    <main>
      {{ content | safe }}
    </main>

    <script type="module" src="/assets/scripts/index.js"></script>
  </body>
</html>
