<!DOCTYPE html>
<html lang={{ metadata.lang }}>
  <head>
    <link href="/_dist_/assets/styles/index.css" rel="stylesheet"/>

    <meta charset="utf-8" />
    <title>{{title | default: metadata.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="keywords" content="{{ metadata.keywords }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet"/>
  </head>

  <body>
    <script type="module" src="/_dist_/assets/scripts/index.js"></script>

    <main class="h-full">
      {{ content | safe }}
    </main>
  </body>
</html>
